In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time
import datetime
import uuid

In [ ]:
# Checking

main = pd.read_csv('/content/March Chk.CSV',index_col=False)
main.drop('Check or Slip #', axis =1, inplace = True)
#categorise and sub-categorise expenses

def subcategorise(x):
  if 'ZIPLY' in x['Description']:
    return 'Internet'
  if 'PUGET SOUND' in x['Description']:
    return 'Gas'  
  if 'Condominium' in x['Description']:
    return 'HOA'
  if 'PUD' in x['Description']:
    return 'Electricity'          
  if 'WF HOME MTG' in x['Description']:
    return 'Mortgage'
  if 'WASTE MANAGEMENT' in x['Description']:
    return 'Trash'   
  if 'ALDERWOOD WATER' in x['Description']:
    return 'Water'   
  if 'AMAZON.COM SVCS' in x['Description']:
    return 'Salary'
  if 'CASH APP' in x['Description']:
    return 'Cash App Transaction'  
  if 'KOHL' in x['Description']:
    return 'Kohls Credit Card'
  if 'DISCOVER' in x['Description']:
    return 'Discover Credit Card'
  if 'AMERICAN EXPRESS' in x['Description']:
    return 'American Express Credit Card'
  if 'in 4805' in x['Description']:
    return 'Chase Credit Card'    
  if 'in 7358' in x['Description']:
    return 'Amazon Prime Credit Card'
  if 'Online Transfer to SAVINGS' in x['Description']:
    return 'Savings'  
  else:
    return 'Other'   

def categorise(x):
  if x['Sub-category'] in ['Internet','Gas','Electricity','Water','Trash','HOA']:
    return 'Bills & Utilities'
  if 'Credit Card' in x['Sub-category']:  
    return 'Credit Card Payment'
  if 'Salary' in x['Sub-category']:
    return 'Income'
  if 'Cash App Transaction' in x['Sub-category']:
    return 'Other'
  if 'Mortgage' in x['Sub-category']:
    return 'Mortgage'
  if '1790 transaction#' in x['Description']:
    return 'Savings'
  if 'SLING' in x['Description']:
    return 'Subscription'
  if 'QFC' in x['Description']:
    return 'Groceries'
  if 'FRED-MEYER' in x['Description']:
    return 'Groceries'     
  if 'GRUBHUB' in x['Description']:
    return 'Food & Drink'
  if 'JUST TIFFINS' in x['Description']:
    return 'Food & Drink'
  if 'RUCHI' in x['Description']:
    return 'Food & Drink'
  if 'SEATTLE TIMES' in x['Description']:
    return 'Entertainment'
  if 'PETCO' in x['Description']:
    return 'Luna'
  if 'PETSMART' in x['Description']:
    return 'Luna'
  if 'ABODE' in x['Description']:
    return 'Home'
  if 'MAYURI FOODS' in x['Description']:
    return 'Groceries'
  if 'COSTCO' in x['Description']:
    return 'Groceries'
  if 'TRADER JOE' in x['Description']:
    return 'Groceries'
  if 'INDIA SUPERMARKET' in x['Description']:
    return 'Groceries'
  if 'APNA' in x['Description']:
    return 'Groceries'  
  if 'HOME DEPOT' in x['Description']:
    return 'Home'
  if 'KANISHKA' in x['Description']:
    return 'Food & Drink'
  if 'FUSION' in x['Description']:
    return 'Food & Drink'
  if '85C BAKERY' in x['Description']:
    return 'Food & Drink'
  if 'GOURMET LATTE' in x['Description']:
    return 'Food & Drink'
  if 'WALGREENS' in x['Description']:
    return 'Health & Wellness'
  if 'CAFE' in x['Description']:
    return 'FOOD & DRINK'
  if 'CHEVRON' in x['Description']:
    return 'Gas'
  if 'REGAL CINEMAS' in x['Description']:
    return 'Entertainment'
  if 'CINEMA' in x['Description']:
    return 'Entertainment'                          
  else:
    return 'Other'
#Generate Unique TransactionID 
def generate_id(x):
  return 'CHK-'+str(uuid.uuid1())


main['Sub-category'] = main.apply(lambda x: subcategorise(x), axis=1)
main['Category'] = main.apply(lambda x: categorise(x), axis=1)


#Renaming column for consistency
main = main.rename(columns={"Posting Date": "Post Date"})
main ['Transaction Date'] = main ['Post Date']
main['ID']=main.apply(lambda x: generate_id(x), axis =1)
main

,Details,Post Date,Description,Amount,Type,Balance,Sub-category,Category,Transaction Date,ID
0,DEBIT,03/16/2022,ORIG CO NAME:ZIPLY FIBER CO ENTRY DESCR:E...,-60.00,ACH_DEBIT,,Internet,Bills & Utilities,03/16/2022,CHK-bc89d33e-a555-11ec-b167-0242ac1c0002
1,DEBIT,03/16/2022,POS DEBIT 85C BAKERY CAFE USA ...,-25.40,MISC_DEBIT,,Other,Food & Drink,03/16/2022,CHK-bc89da6e-a555-11ec-b167-0242ac1c0002
2,DEBIT,03/16/2022,POS DEBIT LOLLI & POPS - 109 AL...,-18.70,MISC_DEBIT,,Other,Other,03/16/2022,CHK-bc89dbcc-a555-11ec-b167-0242ac1c0002
3,DEBIT,03/15/2022,HOMEGOODS 18420 33RD A LYNNWOOD WA 0...,-33.96,DEBIT_CARD,10098.54,Other,Other,03/15/2022,CHK-bc89dcbc-a555-11ec-b167-0242ac1c0002
4,DEBIT,03/15/2022,KOHL'S CHG PYMT 043000099762738 WE...,-170.14,ACH_DEBIT,10132.50,Kohls Credit Card,Credit Card Payment,03/15/2022,CHK-bc89dd98-a555-11ec-b167-0242ac1c0002
5,DEBIT,03/14/2022,CASH APP*AGALYA GUN 8774174551 CA 0...,-136.50,DEBIT_CARD,10302.64,Cash App Transaction,Other,03/14/2022,CHK-bc89de60-a555-11ec-b167-0242ac1c0002
6,DEBIT,03/14/2022,INDIA SUPERMARKET BOTHELL WA 0...,-52.23,DEBIT_CARD,10439.14,Other,Groceries,03/14/2022,CHK-bc89df8c-a555-11ec-b167-0242ac1c0002
7,DEBIT,03/14/2022,85C BAKERY CAFE USA LYNNWOOD WA 0...,-13.40,DEBIT_CARD,10491.37,Other,Food & Drink,03/14/2022,CHK-bc89e086-a555-11ec-b167-0242ac1c0002
8,DEBIT,03/14/2022,COSTCO WHSE #1190 LYNNWOOD WA 608051 0...,-58.63,DEBIT_CARD,10504.77,Other,Groceries,03/14/2022,CHK-bc89e14e-a555-11ec-b167-0242ac1c0002
9,DEBIT,03/14/2022,CASH APP*MAHADEVAN 8774174551 CA 0...,-43.00,DEBIT_CARD,10563.40,Cash App Transaction,Other,03/14/2022,CHK-bc89e20c-a555-11ec-b167-0242ac1c0002
10,DEBIT,03/14/2022,CL *Chase Travel TRIPCHRG.COM VA 0...,-349.00,DEBIT_CARD,10606.40,Other,Other,03/14/2022,CHK-bc89e2ca-a555-11ec-b167-0242ac1c0002
11,DEBIT,03/11/2022,PUGET SOUND ENER BILLPAY PP...,-76.67,ACH_DEBIT,10955.40,Gas,Bills & Utilities,03/11/2022,CHK-bc89e392-a555-11ec-b167-0242ac1c0002
12,DEBIT,03/09/2022,PUDNO1-SNOHOMISH UTILITY 2061496 WE...,-50.64,ACH_DEBIT,11032.07,Electricity,Bills & Utilities,03/09/2022,CHK-bc89e450-a555-11ec-b167-0242ac1c0002
13,DEBIT,03/09/2022,Condominium Mana RESIDENT 248364374 WE...,-185.00,ACH_DEBIT,11082.71,HOA,Bills & Utilities,03/09/2022,CHK-bc89e50e-a555-11ec-b167-0242ac1c0002
14,DEBIT,03/08/2022,NAAN N CURRY ISSAQUAH ISSAQUAH WA 0...,-40.76,DEBIT_CARD,11267.71,Other,Other,03/08/2022,CHK-bc89e5cc-a555-11ec-b167-0242ac1c0002
15,DEBIT,03/08/2022,APNAR BAZAR BELLEVUE WA 0...,-43.55,DEBIT_CARD,11308.47,Other,Groceries,03/08/2022,CHK-bc89e680-a555-11ec-b167-0242ac1c0002
16,DEBIT,03/07/2022,DISCOVER E-PAYMENT 9039 WE...,-257.31,ACH_DEBIT,11352.02,Discover Credit Card,Credit Card Payment,03/07/2022,CHK-bc89e770-a555-11ec-b167-0242ac1c0002
17,CREDIT,03/07/2022,Morgan Stanley ACH CREDIT PP...,8980.04,ACH_CREDIT,11609.33,Other,Other,03/07/2022,CHK-bc89e82e-a555-11ec-b167-0242ac1c0002
18,DEBIT,03/04/2022,AMERICAN EXPRESS ACH PMT M0714 WE...,-1226.42,ACH_DEBIT,2629.29,American Express Credit Card,Credit Card Payment,03/04/2022,CHK-bc89e8e2-a555-11ec-b167-0242ac1c0002
19,DEBIT,03/04/2022,Payment to Chase card ending in 4805 03/04,-272.67,ACCT_XFER,3855.71,Chase Credit Card,Credit Card Payment,03/04/2022,CHK-bc89e9a0-a555-11ec-b167-0242ac1c0002
20,DEBIT,03/04/2022,Payment to Chase card ending in 7358 03/04,-102.48,ACCT_XFER,4128.38,Amazon Prime Credit Card,Credit Card Payment,03/04/2022,CHK-bc89ea5e-a555-11ec-b167-0242ac1c0002
21,CREDIT,03/03/2022,VENMO CASHOUT PP...,60.00,ACH_CREDIT,4230.86,Other,Other,03/03/2022,CHK-bc89eb3a-a555-11ec-b167-0242ac1c0002
22,DEBIT,03/02/2022,WF HOME MTG AUTO PAY PP...,-3042.62,ACH_DEBIT,4170.86,Mortgage,Mortgage,03/02/2022,CHK-bc89ec02-a555-11ec-b167-0242ac1c0002
23,DEBIT,03/01/2022,Online Transfer to SAV ...1790 transaction#: ...,-1000.00,ACCT_XFER,7213.48,Other,Savings,03/01/2022,CHK-bc89ed2e-a555-11ec-b167-0242ac1c0002

In [ ]:
#chase cc

main_cc = pd.read_csv('/content/March chz.CSV')
#main_cc['Category'].where(main['Description']=='Payment Thank You-Mobile','Credit Card Payment',main_cc['Category'] )

def categorise_cc(x):
  if 'Payment Thank You' in x['Description']:
    return 'Credit Card Payment'
  if 'JUST TIFFINS' in x['Description']:
    return 'Food & Drink' 
  if 'MARTHA LAKE VET CLINIC' in x['Description']:
    return 'Luna'   
  if 'ASPCA POISON CONTROL' in x['Description']:
    return 'Luna'
  if 'PETCO' in x['Description']:
    return 'Luna'
  if 'PETSMART' in x['Description']:
    return 'Luna'    
  else:
    return x['Category']  
#Generate Unique TransactionID    
def generate_id(x):
  return 'CCC-'+str(uuid.uuid1())   

main_cc['Category']=main_cc.apply(lambda x: categorise_cc(x), axis=1)
main_cc.drop('Memo', axis=1, inplace = True)
main_cc['ID']=main_cc.apply(lambda x: generate_id(x), axis =1)
main_cc

,Transaction Date,Post Date,Description,Category,Type,Amount,ID
0,03/13/2022,03/13/2022,GRUBHUBRUCHIINDIANRES,Food & Drink,Sale,-23.32,CCC-bc9465e2-a555-11ec-b167-0242ac1c0002
1,03/09/2022,03/10/2022,GEICO *AUTO,Bills & Utilities,Sale,-120.58,CCC-bc9469b6-a555-11ec-b167-0242ac1c0002
2,03/04/2022,03/04/2022,Payment Thank You-Mobile,Credit Card Payment,Payment,272.67,CCC-bc946bbe-a555-11ec-b167-0242ac1c0002
3,03/03/2022,03/03/2022,GRUBHUBRUCHIINDIANRES,Food & Drink,Sale,-23.77,CCC-bc946d80-a555-11ec-b167-0242ac1c0002
4,03/01/2022,03/02/2022,ABODE HOME SECURITY,Home,Sale,-21.99,CCC-bc946f2e-a555-11ec-b167-0242ac1c0002
5,02/28/2022,03/01/2022,LA FITNESS,Health & Wellness,Sale,-60.75,CCC-bc9471f4-a555-11ec-b167-0242ac1c0002
6,02/28/2022,03/01/2022,FURBO DOG CAMERA,Professional Services,Sale,-7.71,CCC-bc947974-a555-11ec-b167-0242ac1c0002
7,02/28/2022,03/01/2022,GOOGLE *YouTubePremium,Bills & Utilities,Sale,-19.83,CCC-bc947b86-a555-11ec-b167-0242ac1c0002
8,02/28/2022,03/01/2022,DD DOORDASH FUSIONIND,Food & Drink,Sale,-37.49,CCC-bc947d3e-a555-11ec-b167-0242ac1c0002

In [ ]:
#Amazon CC

amz_cc = pd.read_csv('/content/March amz.CSV')

def categorise_cc(x):
  if 'Payment Thank You-Mobile' in x['Description']:
    return 'Credit Card Payment'
  if 'AMZN Mktp' in x['Description']:
    return 'Amazon Purchase'
  if 'Amazon.com' in x['Description']:
    return 'Amazon Purchase'
  if 'Prime Video' in x['Description']:
    return 'Entertainment'
  if 'PETCO' in x['Description']:
    return 'Luna'
  if 'PETSMART' in x['Description']:
    return 'Luna'       
  else:
    return x['Category']  
#Generate Unique TransactionID    
def generate_id(x):
  return 'ACC-'+str(uuid.uuid1())      

amz_cc['Category']=amz_cc.apply(lambda x: categorise_cc(x), axis=1)
amz_cc.drop('Memo', axis=1, inplace = True)
amz_cc['ID']=amz_cc.apply(lambda x: generate_id(x), axis =1)
amz_cc

,Transaction Date,Post Date,Description,Category,Type,Amount,ID
0,03/15/2022,03/15/2022,AMZN Mktp US*1Z4KW2AF2,Amazon Purchase,Sale,-14.33,ACC-bc9abac8-a555-11ec-b167-0242ac1c0002
1,03/15/2022,03/15/2022,AMZN Mktp US*1N5ND3OU1,Amazon Purchase,Sale,-148.64,ACC-bc9abd0c-a555-11ec-b167-0242ac1c0002
2,03/15/2022,03/15/2022,Amazon.com*1N60M6O01,Amazon Purchase,Sale,-17.11,ACC-bc9abe10-a555-11ec-b167-0242ac1c0002
3,03/15/2022,03/15/2022,AMZN Mktp US*1N9U41451,Amazon Purchase,Sale,-8.82,ACC-bc9abeec-a555-11ec-b167-0242ac1c0002
4,03/14/2022,03/15/2022,AMZN Mktp US*1Z4CZ0T12,Amazon Purchase,Sale,-22.02,ACC-bc9abfbe-a555-11ec-b167-0242ac1c0002
5,03/04/2022,03/04/2022,Payment Thank You-Mobile,Credit Card Payment,Payment,102.48,ACC-bc9ac07c-a555-11ec-b167-0242ac1c0002
6,03/03/2022,03/04/2022,Prime Video*1W2W41PT0,Entertainment,Sale,-5.50,ACC-bc9ac14e-a555-11ec-b167-0242ac1c0002
7,02/28/2022,03/01/2022,AMZN Mktp US*1I6S98E12,Amazon Purchase,Sale,-14.34,ACC-bc9ac20c-a555-11ec-b167-0242ac1c0002
8,03/01/2022,03/01/2022,Prime Video*1W8DF0JC1,Entertainment,Sale,-5.50,ACC-bc9ac2ca-a555-11ec-b167-0242ac1c0002
9,02/28/2022,03/01/2022,Amazon.com*1W0IE03I1,Amazon Purchase,Sale,-9.87,ACC-bc9ac388-a555-11ec-b167-0242ac1c0002

In [ ]:
#Discover CC
disc_cc = pd.read_csv('/content/March Discover.csv')
disc_cc['Amount'] = -1*disc_cc['Amount']
def categorise_cc(x):
  if 'INTERNET PAYMENT - THANK YOU' in x['Description']:
    return 'Credit Card Payment'
  if 'PEACOCK' in x['Description']:
    return 'Subscription'
  if 'PETCO' in x['Description']:
    return 'Luna'
  if 'PETSMART' in x['Description']:
    return 'Luna'
  if 'DATACAMP' in x['Description']:
    return 'Subscription'         
  else:
    return x['Category']  
#Generate Unique TransactionID    
def generate_id(x):
  return 'DCC-'+str(uuid.uuid1())          

disc_cc['Category']=disc_cc.apply(lambda x: categorise_cc(x), axis=1)

#renaming columns for consistency
disc_cc = disc_cc.rename(columns={"Trans. Date": "Transaction Date"})
#renaming categories for consitency
disc_cc['Category']=disc_cc['Category'].replace('Supermarkets','Groceries')
disc_cc['Category']=disc_cc['Category'].replace('Medical Services','Health & Wellness')
disc_cc['Category']=disc_cc['Category'].replace('Restaurants','Food & Drink')
disc_cc['Category']=disc_cc['Category'].replace('Travel/ Entertainment','Other')
disc_cc['ID']=disc_cc.apply(lambda x: generate_id(x), axis =1)
disc_cc

,Transaction Date,Post Date,Description,Amount,Category,ID
0,03/03/2022,03/03/2022,UW MEDICINE SEATTLE WA,-98.12,Health & Wellness,DCC-bca200bc-a555-11ec-b167-0242ac1c0002
1,03/04/2022,03/04/2022,CASHBACK BONUS REDEMPTION PYMT/STMT CRDT,8.68,Awards and Rebate Credits,DCC-bca20274-a555-11ec-b167-0242ac1c0002
2,03/04/2022,03/04/2022,INTERNET PAYMENT - THANK YOU,257.31,Credit Card Payment,DCC-bca20364-a555-11ec-b167-0242ac1c0002
3,03/14/2022,03/14/2022,DD DOORDASH FUSIONIND 855-973-1040 CA,-21.25,Food & Drink,DCC-bca20440-a555-11ec-b167-0242ac1c0002

In [ ]:
from re import A
#Amex CC

amex_cc= pd.read_csv('/content/March amex.csv')
amex_cc['Amount'] = -1*amex_cc['Amount']
def categorise_aecc(x):
  if 'MOBILE PAYMENT - THANK YOU' in x['Description']:
    return 'Credit Card Payment'
  if 'SLING' in x['Description']:
    return 'Subscription'
  if 'QFC' in x['Description']:
    return 'Groceries'
  if 'FRED-MEYER' in x['Description']:
    return 'Groceries'     
  if 'GRUBHUB' in x['Description']:
    return 'Food & Drink'
  if 'JUST TIFFINS' in x['Description']:
    return 'Food & Drink'
  if 'RUCHI' in x['Description']:
    return 'Food & Drink'
  if 'SEATTLE TIMES' in x['Description']:
    return 'Entertainment'
  if 'PETCO' in x['Description']:
    return 'Luna'
  if 'PETSMART' in x['Description']:
    return 'Luna'
  if 'ABODE' in x['Description']:
    return 'Home' 
  if 'MAYURI FOODS' in x['Description']:
    return 'Groceries'
  if 'COSTCO' in x['Description']:
    return 'Groceries'
  if 'TRADER JOE' in x['Description']:
    return 'Groceries'
  if 'INDIA SUPERMARKET' in x['Description']:
    return 'Groceries'
  if 'APNA' in x['Description']:
    return 'Groceries'  
  if 'HOME DEPOT' in x['Description']:
    return 'Home'
  if 'KANISHKA' in x['Description']:
    return 'Food & Drink'
  if 'FUSION' in x['Description']:
    return 'Food & Drink' 
  if '85C BAKERY' in x['Description']:
    return 'Food & Drink'
  if 'GOURMET LATTE' in x['Description']:
    return 'Food & Drink'
  if 'WALGREENS' in x['Description']:
    return 'Health & Wellness'
  if 'PEETS COFFEE' in x['Description']:
    return 'Food & Drink'
  if 'CAFE' in x['Description']:
    return 'Food & Drink'
  if 'CHEVRON' in x['Description']:
    return 'Gas'
  if 'REGAL CINEMAS' in x['Description']:
    return 'Entertainment'
  if 'CINEMA' in x['Description']:
    return 'Entertainment'                               
  else:
    return 'Other'

#Generate Unique TransactionID    
def generate_id(x):
  return 'AECC-'+str(uuid.uuid1())          

amex_cc['Category']=amex_cc.apply(lambda x: categorise_aecc(x), axis=1)
amex_cc['ID']=amex_cc.apply(lambda x: generate_id(x), axis =1)
amex_cc['Post Date'] = amex_cc['Date']
#renaming columns for consistency
amex_cc = amex_cc.rename(columns={"Date": "Transaction Date"})
amex_cc

,Transaction Date,Description,Amount,Category,ID,Post Date
0,03/14/2022,HALEAKALA BIKE CO. 6HAIKU HI,-227.35,Other,AECC-bcacdae6-a555-11ec-b167-0242ac1c0002,03/14/2022
1,03/14/2022,PETCO 1290 512909BOTHELL WA,-24.28,Luna,AECC-bcacdcc6-a555-11ec-b167-0242ac1c0002,03/14/2022
2,03/13/2022,ADOBE PR CREATIVE CLSAN JOSE CA,-23.14,Other,AECC-bcacddb6-a555-11ec-b167-0242ac1c0002,03/13/2022
3,03/13/2022,FH* PACWHALE ECO-ADVWAILUKU HI,-147.21,Other,AECC-bcacdfbe-a555-11ec-b167-0242ac1c0002,03/13/2022
4,03/13/2022,PRICELINE.COM USD 8774775807 CT,-65.00,Other,AECC-bcace0c2-a555-11ec-b167-0242ac1c0002,03/13/2022
5,03/12/2022,QFC MILL CREEK WA,-43.23,Groceries,AECC-bcace18a-a555-11ec-b167-0242ac1c0002,03/12/2022
6,03/11/2022,AIRBNB * HMC48SDYQD SAN FRANCISCO CA,-1387.67,Other,AECC-bcace248-a555-11ec-b167-0242ac1c0002,03/11/2022
7,03/11/2022,CAFE KLEO LYNNWOOD WA,-17.66,Food & Drink,AECC-bcace306-a555-11ec-b167-0242ac1c0002,03/11/2022
8,03/11/2022,HONDA OF KIRKLAND 00KIRKLAND WA,-76.48,Other,AECC-bcace3c4-a555-11ec-b167-0242ac1c0002,03/11/2022
9,03/11/2022,STARBUCKS STORE 0341KIRKLAND WA,-8.71,Other,AECC-bcace4c8-a555-11ec-b167-0242ac1c0002,03/11/2022
10,03/10/2022,QFC MILL CREEK WA,-4.49,Groceries,AECC-bcace586-a555-11ec-b167-0242ac1c0002,03/10/2022
11,03/09/2022,ADOBE PS CREATIVE CLSAN JOSE CA,-23.14,Other,AECC-bcace644-a555-11ec-b167-0242ac1c0002,03/09/2022
12,03/09/2022,QFC MILL CREEK WA,-5.48,Groceries,AECC-bcace702-a555-11ec-b167-0242ac1c0002,03/09/2022
13,03/09/2022,SLING TV ENGLEWOOD CO,-15.00,Subscription,AECC-bcace7c0-a555-11ec-b167-0242ac1c0002,03/09/2022
14,03/07/2022,Interest Charge on Purchases,-3.15,Other,AECC-bcace87e-a555-11ec-b167-0242ac1c0002,03/07/2022
15,03/06/2022,FRED MEYERS BELLEVUE WA,-8.49,Other,AECC-bcace93c-a555-11ec-b167-0242ac1c0002,03/06/2022
16,03/06/2022,JYS BUBBLE TEA SEATTLE WA,-15.87,Other,AECC-bcace9fa-a555-11ec-b167-0242ac1c0002,03/06/2022
17,03/05/2022,FRED MEYER BOTHELL WA,-77.86,Other,AECC-bcaceaae-a555-11ec-b167-0242ac1c0002,03/05/2022
18,03/05/2022,MAYURI FOODS AND VIDBOTHELL WA,-13.17,Groceries,AECC-bcaceb6c-a555-11ec-b167-0242ac1c0002,03/05/2022
19,03/04/2022,MICROSOFT*MICROSOFT MSBILL.INFO,-7.70,Other,AECC-bcacec2a-a555-11ec-b167-0242ac1c0002,03/04/2022
20,03/04/2022,MOBILE PAYMENT - THANK YOU,1226.42,Credit Card Payment,AECC-bcacecde-a555-11ec-b167-0242ac1c0002,03/04/2022
21,03/03/2022,MAYURI FOODS AND VIDBOTHELL WA,-18.17,Groceries,AECC-bcaced9c-a555-11ec-b167-0242ac1c0002,03/03/2022
22,03/02/2022,CANVA* I03347-391586CAMDEN DE,-12.99,Other,AECC-bcacee5a-a555-11ec-b167-0242ac1c0002,03/02/2022

In [ ]:
#Join all dataframes
#Four DataFrames are being joined here - Checking, Chase CC, Amazon CC & Discover CC

ignore = ['Credit Card Payment','Income','Savings']


frames = [main.loc[~main['Category'].isin(ignore),['ID','Post Date','Transaction Date','Description','Category', 'Amount']],
          main_cc.loc[~main_cc['Category'].isin(ignore),['ID','Post Date','Transaction Date','Description','Category', 'Amount']], 
          amz_cc.loc[~amz_cc['Category'].isin(ignore),['ID','Post Date','Transaction Date','Description','Category', 'Amount']],
          disc_cc.loc[~disc_cc['Category'].isin(ignore),['ID','Post Date','Transaction Date','Description','Category', 'Amount']],
          amex_cc.loc[~amex_cc['Category'].isin(ignore),['ID','Post Date','Transaction Date','Description','Category', 'Amount']]]

master = pd.concat(
    frames,
    axis=0,
    join="outer",
    ignore_index=False,
    keys=None,
    levels=None,
    names=None,
    verify_integrity=False,
    copy=True,
)

def categorise_master(x):
  
  if 'Online Transfer to SAV' in x['Description']:
    return 'Savings'
  if 'SLING' in x['Description']:
    return 'Subscription'
  if 'QFC' in x['Description']:
    return 'Groceries'
  if 'FRED MEYER' in x['Description']:
    return 'Groceries'     
  if 'GRUBHUB' in x['Description']:
    return 'Food & Drink'
  if 'JUST TIFFINS' in x['Description']:
    return 'Food & Drink'
  if 'RUCHI' in x['Description']:
    return 'Food & Drink'
  if 'SEATTLE TIMES' in x['Description']:
    return 'Entertainment'
  if 'PETCO' in x['Description']:
    return 'Luna'
  if 'PETSMART' in x['Description']:
    return 'Luna'
  if 'ABODE' in x['Description']:
    return 'Home'
  if 'MAYURI FOODS' in x['Description']:
    return 'Groceries'
  if 'COSTCO' in x['Description']:
    return 'Groceries'
  if 'TRADER JOE' in x['Description']:
    return 'Groceries'
  if 'INDIA SUPERMARKET' in x['Description']:
    return 'Groceries'
  if 'APNA' in x['Description']:
    return 'Groceries'  
  if 'HOME DEPOT' in x['Description']:
    return 'Home'
  if 'KANISHKA' in x['Description']:
    return 'Food & Drink'
  if 'FUSION' in x['Description']:
    return 'Food & Drink'
  if '85C BAKERY' in x['Description']:
    return 'Food & Drink'
  if 'GOURMET LATTE' in x['Description']:
    return 'Food & Drink'
  if 'WALGREENS' in x['Description']:
    return 'Health & Wellness'
  if 'CAFE' in x['Description']:
    return 'Food & Drink'
  if 'CHEVRON' in x['Description']:
    return 'Gas'
  if 'REGAL CINEMAS' in x['Description']:
    return 'Entertainment'
  if 'CINEMA' in x['Description']:
    return 'Entertainment'
  if 'THEATRE' in x['Description']:
    return 'Entertainment'  
#  if 'Professional Services' in x['Category']:
#    return 'Other'
  if 'FANDANGO' in x['Description']:
    return 'Entertainment'
  if '*YouTubePremium' in x['Description']:
    return 'Subscription'
  if '*Google Storage' in x['Description']:
    return 'Subscription'
  if 'APPLE.COM/BILL' in x['Description']:
    return 'Subscription'
  if 'ADOBE' in x['Description']:
    return 'Subscription'
  if 'BRILLIANT.ORG' in x['Description']:
    return 'Subscription'
  if 'LEMONADE' in x['Description']:
    return 'Luna'
  if 'PARKING' in x['Description']:
    return 'Parking'
  if 'STARBUCKS' in x['Description']:
    return 'Food & Drink'
  if 'PIZZA' in x['Description']:
    return 'Food & Drink'
  if 'ICE CREAM' in x['Description']:
    return 'Food & Drink'                                                    
  else:
    return x['Category']


master['Category']=master.apply(lambda x: categorise_master(x), axis =1)

master['Category']=master['Category'].replace('Awards and Rebate Credits','Payments & Credits')
master['Category']=master['Category'].replace('Services','Other')
print("CASH OUTFLOW")
print(master[master['Amount']<0].groupby('Category').sum())
print(master[master['Amount']<0]['Amount'].sum())

print("CASH INFLOW")
print(master[master['Amount']>0].groupby('Category').sum())
print(master[master['Amount']>0]['Amount'].sum())
print("Inflow Transactions")
master.loc[master['Amount']>0,:]
print('Other Transactions')
master.loc[master['Category']=='Subscription',:]

master.to_csv(r'/content/outputdata.csv', index=False)

CASH OUTFLOW
                        Amount
Category
Amazon Purchase        -235.13
Bills & Utilities      -492.89
Entertainment           -11.00
Food & Drink           -171.00
Groceries              -325.30
Health & Wellness      -158.87
Home                    -21.99
Luna                    -24.28
Mortgage              -3042.62
Other                 -2565.34
Professional Services    -7.71
Subscription            -81.11
-7137.24
CASH INFLOW
                     Amount
Category
Other               9040.04
Payments & Credits     8.68
9048.720000000001
Inflow Transactions
Other Transactions

In [ ]:
master.loc[master['Category'].isna(),:]

Empty DataFrame
Columns: [ID, Post Date, Transaction Date, Description, Category, Amount]
Index: []